{% sw_extends '@Storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    <div class="hello-world">
        <h1>Welcome from boilerplate plugin.</h1>
        <h2>Start your templating here for Account Stuff.</h2>
    </div>
{% endblock %}